.state-container {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #161625;
  height: 100%;
}
.state-updation-cases {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.state-name {
  background: rgba(2, 132, 199, 0.16);
  color: #0ea5e9;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 35px;
  border-radius: 50px;
  font-family: 'HK Grotesk';
}
.updated-date {
  color: #cbd5e1;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0px;
}
.state-updation-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.tested-cases-heading {
  color: #94a3b8;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}
.total-tested-cases {
  margin-top: 0px;
  color: #94a3b8;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 228px;
  width: 228px;

  border-radius: 20px;
}
.Confirmed-card {
  background: #331427;
  margin-right: 50px;
}
.Active-card {
  background: #132240;
  margin-right: 50px;
}
.Recovered-card {
  background: #182829;
  margin-right: 50px;
}
.Deceased-card {
  background: #212230;
}
.card-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.Confirmed {
  color: #ff073a;
}
.Active {
  color: #007bff;
}
.Recovered {
  color: #28a745;
}
.Deceased {
  color: #6c757d;
}
.cases-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}
.spread-rends-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #cbd5e1;
}
.button {
  height: 30px;
  width: 100px;
  margin-right: 20px;
  border-radius: 3px;
  border: none;
  background: #1c1c2b;
  color: #e2e8f0;
  margin-bottom: 100px;
}
