.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e30;
  height: 12vh;
  padding: 20px;
}
.nav-link-logo {
  text-decoration: none;
  margin-left: 70px;
  font-family: 'Bree Serif';
  color: #f8fafc;
}
.header-title {
  color: white;
  font-size: 24px;
}
.country {
  color: #1686f0;
}
.nav-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 70px;
}
.nav-link {
  margin: 20px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.home {
  color: #f8fafc;
}
.about {
  color: #94a3b8;
}
